All Code/M3/D2/Node-Red_With_UI_rangeLED/Node-Red_With_UI_rangeLED.txt
[
    {
        "id": "77af658ffa4711d3",
        "type": "tab",
        "label": "Flow5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2848cd6.ca5c7",
        "type": "ui_slider",
        "z": "77af658ffa4711d3",
        "tab": "5969fd52.22b424",
        "name": "Slider",
        "topic": "",
        "group": "Control LED",
        "order": "2",
        "min": "0",
        "max": "100",
        "x": 610,
        "y": 280,
        "wires": [
            [
                "1cca457a.60fb5b",
                "732721f2.32913",
                "3c7de1d6.58b99e",
                "869c189f.bbbd18"
            ]
        ]
    },
    {
        "id": "1cca457a.60fb5b",
        "type": "ui_gauge",
        "z": "77af658ffa4711d3",
        "tab": "5969fd52.22b424",
        "name": "Gauge",
        "group": "Control LED",
        "order": "3",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "x": 1023,
        "y": 368,
        "wires": []
    },
    {
        "id": "732721f2.32913",
        "type": "ui_chart",
        "z": "77af658ffa4711d3",
        "tab": "5969fd52.22b424",
        "name": "",
        "group": "Control LED",
        "order": "4",
        "interpolate": "linear",
        "nodata": "No Data",
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "x": 1023,
        "y": 474,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3c7de1d6.58b99e",
        "type": "rpi-gpio out",
        "z": "77af658ffa4711d3",
        "name": "LED",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 1026,
        "y": 290,
        "wires": []
    },
    {
        "id": "828cc789.3d3b08",
        "type": "function",
        "z": "77af658ffa4711d3",
        "name": "Function",
        "func": "if(msg.payload == \"true\"){\n msg.payload = 1;\n}\nelse{\n msg.payload = 0;\n} \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 560,
        "wires": [
            [
                "b2848cd6.ca5c7"
            ]
        ]
    },
    {
        "id": "58638633.9de238",
        "type": "ui_switch",
        "z": "77af658ffa4711d3",
        "tab": "5969fd52.22b424",
        "name": "Switch",
        "topic": "",
        "group": "Control LED",
        "order": 1,
        "onvalue": "true",
        "offvalue": "false",
        "x": 593,
        "y": 557,
        "wires": [
            [
                "828cc789.3d3b08"
            ]
        ]
    },
    {
        "id": "869c189f.bbbd18",
        "type": "function",
        "z": "77af658ffa4711d3",
        "name": "SetSwitch",
        "func": "if(msg.payload > 0)\n msg.payload = 1;\nelse \n msg.payload = 0;\n \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 602,
        "y": 430,
        "wires": [
            [
                "58638633.9de238"
            ]
        ]
    },
    {
        "id": "5969fd52.22b424",
        "type": "ui_tab",
        "z": "77af658ffa4711d3",
        "name": "TEST1",
        "icon": "dashboard",
        "order": "1"
    }
]